# 0.0.0.0 = accesible desde tu red local (ESP32 y app)
# 127.0.0.1 = solo accesible desde tu PC
BIND_IP=0.0.0.0

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=iot
MYSQL_USER=userGrupoM3Soa
MYSQL_PASSWORD=passGrupoM3Soa
PHPMYADMIN_PORT=8080

TZ=America/Argentina/Buenos_Aires
NODE_RED_CREDENTIAL_SECRET=grupoM3-soa-shared-secret
